# API
NEXT_PUBLIC_API_URL=http://localhost:3333/api

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# App Info
NEXT_PUBLIC_APP_NAME=BarberSaas
NEXT_PUBLIC_APP_URL=http://localhost:3000
